body{
    background-color: #2a62b5;
}

.container{
    background-color: #fff;
    border: 1px solid;
    border-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 260px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    
}

h1{
    color: #2a62b5;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.navegacion{
    margin-left: 30%;
    padding: 20px;
}

nav {
    float: left;
    align-items: center;
  }

nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
  }
  
  nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #2a62b5;
  }
  