{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura Numero {{ id }} no encontrada</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/errorV.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ventas_index' %}">Volver</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'logout_usuario' %}">LogOut</a></li>
                {% else %}
                  <li><a href="{% url 'login_usuario' %}">LogIn</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>NO SE HA ENCNTRADO FACTURA N°{{ id }}</h1>
    </div>
</body>
</html>