{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura Numero {{ id }}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/factura.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ventas_index' %}">Ventas</a></li>
                <li><button onclick="window.print()">Imprimir</button></li>
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>FACTURA N°{{ id }}</h1>
    </div>
    <div class="container">
        <div class="empresa">
            Smart Pick <br>
            RIF: J-999999999
            <hr>
        </div>
        
        
        <div class="comprador">
            {% if factura.id_cliente.tipo == 1 or factura.id_cliente.tipo == 3 or factura.id_cliente.tipo == 4 %}
             RIF: {{ persona}}{{ documento }}
            {% else %}
             C.I: {{ persona}}{{ factura.id_cliente.cedula }}
            {% endif %} <br>
             RAZÓN SOCIAL: {{ factura.id_cliente.nombre }} {{ factura.id_cliente.apellido }}
            <hr>
        </div>

        <div class="factura">
            FACTURA
            <div class="gridFactura">
                <div class="datosFacturaIzq">
                     Factura N°: <br>
                     Fecha: {{ fecha}}
                </div>
                <div class="datosFacturaDer">
                    {{ id }}  <br>
                    Hora: {{ hora}} 
                </div>
            </div>
            <hr>
        </div>

        <div>
            {% for producto in productos %}
            <div class="gridProductos">
                <div class="datosFacturaIzq">
                     {{ producto.0.producto.nombre }} {{ producto.2 }} <br>
                     {{ producto.0.cantidad }} x {{ producto.0.precio }} Bs.
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ producto.1 }} <br>
                    
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     Exento: <br>
                     BI G16.00%<br>
                     BI G8.00%
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ exento }} <br>
                    Bs. {{ base_imponible_G }} <br>
                    Bs. {{ base_imponible_R }} <br>
                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                    <br>
                     IVA G16.00%<br>
                     IVA G8.00%
                </div>
                <div class="datosFacturaDer">
                    <br>
                    Bs. {{ iva_G }} <br>
                    Bs. {{ iva_R }} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     Subtotal
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ factura.total_base }} 
                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     IVA 
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ factura.iva }} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     BI IGTF3.00% <br>
                     Pago divisas:
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ pagado_en_dolares }} <br>
                    Bs. {{ en_divisas }} 

                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     IGTF3.00% <br>
                     Pago Bs.
                </div>
                <div class="datosFacturaDer">
                    Bs. {{ factura.impuesto_divisa }} <br>
                    Bs. {{ factura.cancelado_en_bs }} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="datosFacturaIzq">
                 Total <br>
                 Vuelto
            </div>
            <div class="datosFacturaDer">
                Bs. {{ factura.total}} <br>
                Bs. {{ factura.vuelto }} 
            </div>
        </div>


    </div>


</body>
</html>