{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturar</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/facturar.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ventas_index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>FACTURAR</h1>
    </div>
    <div class="container">
        <form method="POST">
            <div class="grid">
                {% csrf_token %}

                <div class="entradaFactura">
                     Nombre:
                    {{ form.nombre }}
                </div>

                <div class="entradaFactura">
                     Apellido:
                    {{ form.apellido }}
                </div>

                <div class="entradaFactura">
                     Cédula:
                    {{ form.cedula }}
                </div>
            </div>

            <hr>

            <div class="grid">

                <div class="entradaFactura">
                     Códico producto:
                    {{ form.codigo }}
                </div>

                <div class="entradaFactura">
                     Cantidad:
                    {{ form.cantidad }}
                </div>

                <div>
                    <button type="submit" name="añadir" value="true">Añadir Producto</button>
                </div>
            </div>

            {% if Producto_no_entocntrado %}

            <div class="error">
                El codigo ingresado no coresponde con ningún producto disponible en la base de datos.
            </div>

            {% endif %}

            {% if Campo_en_blanco %}

            <div class="error">
                Debe rellenar ambos campos para añadir un producto.
            </div>

            {% endif %}

            {% if Producto_insuficiente.0 %}

            <div class="error">
                No se dispone de la cantidad de produtos solicitados, el stock restante del producto según la base datos es de {{Producto_insuficiente.1}}.
            </div>

            {% endif %}
                
            <hr>

            <div class="grid">
                <div class="totales">
                    Subtotal:<br>
                    {{ subtotal }} Bs.
                </div>

                <div class="totales">
                    IVA:<br>
                    {{ iva }} Bs.
                </div>

                <div class="totales">
                    Total en Bolívares:<br>
                    {{ subtotal_iva }} Bs.
                </div>

                <div class="totales">
                    En Dolares:<br>
                    {{ en_dolares }} $USD
                </div>

                <div class="totales">
                    IGTF:<br>
                    {{ Igft }} $USD
                </div>

                <div class="totales">
                    Total en Dolares:<br>
                    {{ total_dolares }} $USD
                </div>
            </div>
                
            <hr>

            <div class="grid">

                <div class="totales">
                    Fracción en Divisas:<br>
                    <button type="submit" name="actualizar" value="true">⟳</button>{{ form.divisas }} $USD
                </div>

                <div class="totales">
                    IGTF resultante:
                    <div style="font-size: 14px; margin-top: 5px;">
                        {{ Igft_res_US }}$USD | {{ Igft_res }}Bs.
                    </div>
                </div>

                <div class="totales">
                    Fracción Restante en Bs:<br>
                    {{ fraccionBS }} Bs.
                </div>

                <div>
                </div>

                <div>
                    <button type="submit" name="concretar" value="true">Concretar</button>
                </div>
            </div>

            <hr>

            <div class="productos">
                <div class="gridTabla">
                    <div class="camposproductos">
                        Producto
                    </div>
                    <div class="camposproductos">
                        Precio
                    </div>
                    <div class="camposproductos">
                        #
                    </div>
                    <div class="camposproductos">
                        Eliminar
                    </div>
                </div>
                {% for producto in procutosFactura %}
                <div class="gridTabla">
                    <div class="celdaproductonombre">
                        {{ producto.0.0.nombre }}
                    </div>
                    <div class="celdaproducto">
                        {{ producto.0.0.precio }} Bs
                    </div>
                    <div class="celdaproducto">
                        {{ producto.1 }}
                    </div>
                    <div class="celdaproductoeliminar">
                        <div class="eliminar">
                            <button type="submit" name="eliminar" value="{{ producto.0.0.codigo }}">X</button>
                        </div>
                    </div>
                    <input type="hidden" name="{{ producto.0.0.codigo }}" value="{{ producto.1 }}">
                </div>
                {% endfor %}
            </div>
        </form>
    </div>


</body>
</html>