{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura Numero {{ id }}</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/factura.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'facturacion' %}">Facturar</a></li>
                <li><a href="{% url 'ventas_index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>FACTURA N°{{ id }}</h1>
    </div>
    <div class="container">
        <div class="empresa">
            SUPERMERCADO <br>
            RIF: J-999999999
            <hr>
        </div>
        
        
        <div class="comprador">
             RIF/C.I: {}<br>
             RAZÓN SOCIAL: {}
            <hr>
        </div>

        <div class="factura">
            FACTURA
            <div class="gridFactura">
                <div class="datosFacturaIzq">
                     Factura: <br>
                     Fecha: {}
                </div>
                <div class="datosFacturaDer">
                    {{ id }}  <br>
                    Hora: {} 
                </div>
            </div>
            <hr>
        </div>

        <div>
            {}
            <div class="gridProductos">
                <div class="datosFacturaIzq">
                     Nombre producto <br>
                     Cantidad X Bs. {precio}
                </div>
                <div class="datosFacturaDer">
                    Bs. Total  <br>
                    
                </div>
            </div>
            {}
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     Exento: <br>
                     BI G16.00%
                </div>
                <div class="datosFacturaDer">
                    Bs. {} <br>
                    Bs. {} 
                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                    <br>
                     IVA G16.00%
                </div>
                <div class="datosFacturaDer">
                    <br>
                    Bs. {} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     Subtotal
                </div>
                <div class="datosFacturaDer">
                    Bs. {} 
                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     IVA 
                </div>
                <div class="datosFacturaDer">
                    Bs. {} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     BI IGTF3.00%
                </div>
                <div class="datosFacturaDer">
                    Bs. {} 
                </div>
            </div>
            <div class="gridFacturaSubtotal">
                <div class="datosFacturaIzq">
                     IGTF
                </div>
                <div class="datosFacturaDer">
                    Bs. {} 
                </div>
            </div>
        </div>
        
        <div class="factura">
            <hr>
        </div>

        <div class="gridFactura">
            <div class="datosFacturaIzq">
                 Total <br>
                 Vuelto
            </div>
            <div class="datosFacturaDer">
                Bs. {} <br>
                Bs. {} 
            </div>
        </div>


    </div>


</body>
</html>