{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturar</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/facturar.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ventas_index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>FACTURAR</h1>
    </div>
    <div class="container">
        <form method="POST">
            <div class="grid">
                {% csrf_token %}

                <div class="entradaFactura">
                     Nombre:
                    {{ form.nombre }}
                </div>

                <div class="entradaFactura">
                     Apellido:
                    {{ form.apellido }}
                </div>

                <div class="entradaFactura">
                     Cédula:
                    {{ form.cedula }}
                </div>

                <div class="entradaFactura">
                     Códico producto:
                    {{ form.codigo }}
                </div>

                <div>
                    <button type="submit" name="añadir" value="true">Añadir Producto</button>
                </div>
                
                <div>
                    <button type="submit" name="concretar" value="true">Guardar</button>
                </div>
            </div>

            
            <div class="productos">
                {% for procutosFactura in procutosFactura %}
                <div class="gridTabla">
                    <div class="celdaproducto">
                        {{ procutosFactura.nombre }}
                    </div>
                    <div class="celdaproducto">
                        {{ procutosFactura.precio }}
                    </div>
                    <div class="eliminar">
                        <button type="submit" name="eliminar" value="{{ procutosFactura.codigo }}">Eliminar</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>


</body>
</html>