<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
</head>
<body>

    <div>
        <h4>Numero de facturación: {{ factura.NumeroDeFactura }}</h4>
        <h4>Nombre: {{ factura.NombreCompleto }}</h4>
        <h4>Cédula: {{ factura.Cedula }}</h4>
        <h4>Totál: {{ factura.Total }}</h4>
        <h4>Codigo producto: {{ factura.CodigoProducto }}</h4>
    </div>

</body>
</html>
