{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_ventas.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                    {% if user.groups.all.0.name == 'Empleado' or user.groups.all.0.name == 'Administrador' or user.is_staff %}
                        <li><a href="Facturacion/">Facturacion</a></li>
                    {% endif %}

                    {% if user.groups.all.0.name == 'Empleado' or user.groups.all.0.name == 'Analista de datos' or user.groups.all.0.name == 'Administrador' or user.is_staff %}
                        <li><a href="Registro_Facturas">Registro de Facturación</a></li>
                    {% endif %}

                    <li><a href="{% url 'logout_usuario' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login_usuario' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
          </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/online-shopping-car.png' %}" alt="">
        <h1>VENTAS</h1>
    </div>
</body>
</html>