{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Facturación</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Registro_Facturas.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ventas_index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="containerTitle">
        <h1>HISTORIAL DE FACTURAS</h1>
    </div>
    <div class="container">
        <Table>
            <tr>
                <td>#</td>
                <td>Cliente</td>
                <td>Documento</td>
                <td>Total</td>
                <td>Fecha y Hora</td>
                <td>Factura</td>
            </tr>
        {% for factura in page_obj %}
            <tr>
                <td>{{ factura.2 }}</td>
                <td>{{ factura.0.id_cliente.nombre }} {{ factura.0.id_cliente.apellido }}</td>
                <td>{{ factura.1 }}</td>
                <td>{{ factura.0.total }} Bs.</td>
                <td>{{ factura.0.fecha }}</td>
                <td><a href="{% url 'factura' id=factura.0.id %}">Ver</a></td>
            </tr>
        {% endfor %}
        </Table>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">Primera página</a>
                <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
            {% endif %}
            <span class="current-page">{{ page_obj.number }}</span>
            <form method="POST">
                {% csrf_token %}
                <input type="number" name="salto"g min="1" step="1" style="width:50px; padding: 5px 0px 3px 0px; margin-left: 5px" onkeydown="if(event.key==='.'||event.keyCode == 13){event.preventDefault();}" autocomplete="off" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false">
                <input type="hidden" name="page" value="{{ page_obj.number }}">
                <button type="submit" value="Filtrar">Saltar</button>
            </form>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última página</a>
            {% endif %}
        </div>    
    </div>
</body>
</html>