{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/agregar_usuario.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/grupo.png' %}" alt="">
        <h1>REGISTRO</h1>
        <form method="POST">
            {% csrf_token %}

            <div class="username">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="email">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="password">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <div class="first_name">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>

            <div class="last_name">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            
            <button type="submit">Registrarse</button>
        </form>
    </div>
</body>
</html>
