{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>USUARIOS</h1>
    </div>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="agregar_usuario/">Agregar Usuarios</a></li>
                <li><a href="lista_usuario/">Lista de Usuarios</a></li>
                <li><a href="{% url 'index' %}">Volver</a></li>
            </ul>
          </nav>
    </div>
</body>
</html>