{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="agregar_usuario/">Agregar Usuarios</a></li>
                <li><a href="lista_usuario/">Lista de Usuarios</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'logout_usuario' %}">Cerrar Sesión</a></li>
                {% else %}
                  <li><a href="{% url 'login_usuario' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
          </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/working.png' %}" alt="">
        <h1>USUARIOS</h1>
    </div>
</body>
</html>