{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuario</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_usuario.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>LISTADO DE USUARIO</h1>
        <table>
            <thead>
                <tr>
                    <th><img src="{% static 'img/working.png' %}" alt=""></th>
                    <th>Nombre de Usuario</th>
                    <th>Correo Electronico</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><img src="{% static 'img/working.png' %}" alt=""></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No users found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>