{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h1>INICIAR SESIÓN</h1>
        <form method="POST">
            {% csrf_token %}

            <div class="username">
                Usuario:
                {{ form.username }}
            </div>

            <div class="password">
                Contraseña:
                {{ form.password }}
            </div>

            <div class="username">
                <button type="submit">Ingresar</button>
            </div>
            
            {% if error %}
                <div class="error">
                    El usuario o la contraseña son incorrectos.
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
