{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/actualizar_producto.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <h1>ACTUALIZAR PRODUCTO</h1>
    <div class="container">
        <form method="POST" action="{% url 'actualizar_producto' %}">
            {% csrf_token %}
            <input type="text" id="codigo" name="codigo" placeholder="Código" required>
            <button type="submit" value="Filtrar">Buscar</button>
        </form>
        <div class="product">
            {% if form.initial %}
                <form method="POST" action="{% url 'actualizar_producto' %}">
                    {% csrf_token %}
                    <div class="nombre">
                        <label for="id_nombre">Nombre:</label>
                        <input type="text" id="id_nombre" name="nombre" value="{{ form.initial.nombre }}" required>
                    </div>

                    <div class="codigo">
                        <label for="id_codigo">Código:</label>
                        <input type="text" id="id_codigo" name="codigo" value="{{ form.initial.codigo }}" required>
                    </div>

                    <div class="precio">
                        <label for="id_precio">Precio:</label>
                        <input type="number" id="id_precio" name="precio" value="{{ form.initial.precio }}" required>
                    </div>

                    <div class="stock">
                        <label for="id_stock">Stock:</label>
                        <input type="number" id="id_stock" name="stock" value="{{ form.initial.stock }}" required>
                    </div>

                    <div class="proveedor">
                        <label for="id_proveedor">Proveedor:</label>
                        <input type="text" id="id_proveedor" name="proveedor" value="{{ form.initial.proveedor }}" required>
                    </div>
                </form>
                <form method="POST" action="{% url 'guardar_producto' form.initial.id %}">
                    {% csrf_token %}
                    <button type="submit" name="actualizar">Actualizar</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>