{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/actualizar_producto.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_usuario' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login_usuario' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <h1>ACTUALIZAR PRODUCTO</h1>
    <div class="container">
        <form method="POST" action="{% url 'actualizar_producto' %}">
            {% csrf_token %}
            <input type="text" id="codigo" name="codigo" placeholder="Código" required>
            <button type="submit" value="Filtrar">Buscar</button>
        </form> 
        <div class="product">
            {% if form %}
                <form method="POST" action="{% url 'guardar_producto' id %}">
                    {% csrf_token %}
                    <div class="nombre">
                        <label for="id_nombre">Nombre:</label>
                        {{ form.nombre }}
                    </div>

                    <div class="codigo">
                        <label for="id_codigo">Código:</label>
                        {{ form.codigo }}
                    </div>

                    <div class="precio">
                        <label for="id_precio">Precio:</label>
                        {{ form.precio }}
                    </div>

                    <div class="stock">
                        <label for="id_stock">Stock:</label>
                        {{ form.stock }}
                    </div>

                    <div class="proveedor">
                        <label for="id_proveedor">Proveedor:</label>
                        {{ form.proveedor }}
                    </div>

                    <div class="iva">
                        <label for="id_iva">Iva:</label>
                        {{ form.iva }}                
                    </div>

                    <button type="submit" name="actualizar">Actualizar</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>