{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/agregar_producto.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/purchasing.png' %}" alt="">
        <h1>AGREGAR PRODUCTO</h1>
        <form method="POST">
            {% csrf_token %}

            <div class="nombre">
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </div>

            <div class="codigo">
                {{ form.codigo.label_tag }}
                {{ form.codigo }}
            </div>

            <div class="precio">
                {{ form.precio.label_tag }}
                {{ form.precio }}
            </div>

            <div class="stock">
                {{ form.stock.label_tag }}
                {{ form.stock }}
            </div>

            <div class="proveedor">
                {{ form.proveedor.label_tag }}
                {{ form.proveedor }}
            </div>

            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>