{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_usuario' %}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{% url 'login_usuario' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/embarrassed.png' %}" alt="">
        <h1>¡Oops! Algo ha salido mal</h1>
        <h2>Verifica que no estés sobreescribiendo un producto o si estás actualizando o borrando uno, verifica que el código sea correcto.</h2>
    </div>
</body>
</html>