{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>INVENTARIO</h1>
    </div>
    <div class="navegacion">
        <nav>
            <ul>
              <li><a href="agregar_producto/">Agregar Productos</a></li>
              <li><a href="lista_productos/">Lista de Productos</a></li>
            </ul>
          </nav>
    </div>
</body>
</html>