{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_inventario.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="agregar_producto/">Agregar Productos</a></li>
                <li><a href="lista_productos/">Lista de Productos</a></li>
                <li><a href="actualizar_producto/">Actualizar Producto</a></li>
                <li><a href="borrar_producto/">Borrar Producto</a></li>
                <li><a href="reporte/">Generar Reporte</a></li>
                <li><a href="orden_compra/">Generar Orden de Compra</a></li>
                <li><a href="historial_orden_compra/">Historial de Ordenes de Compras</a></li>
                <li><a href="{% url 'index' %}">Salir</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/paper-bag.png' %}" alt="">
        <h1>INVENTARIO</h1>
    </div>
</body>
</html>