{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_productos.css' %}">
</head>
<body>
    <h1>LISTA DE PRODUCTOS</h1>
    <div class="container">
        {% for producto in productos %}
        <div class="containerP">
            <h1>Producto: {{producto.nombre}}</h1>
            <h2>Codigo: {{producto.codigo}}</h2>
            <h2>Precio: {{producto.precio}}</h2>
            <h2>Stock: {{producto.stock}}</h2>
            <h2>Proveedor: {{producto.proveedor}}</h2>
        </div>
        {% endfor %}
    </div>
</body>
</html>