{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lista_productos.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <h1>LISTA DE PRODUCTOS</h1>
    <div class="container">
        {% for producto in productos %}
        <div class="item">
            <h2>Producto: {{producto.nombre}}</h2>
            <h2>Precio: {{producto.precio}}$</h2>
            <h2>Stock: {{producto.stock}} Und.</h2>
        </div>
        {% endfor %}
    </div>
</body>
</html>