{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reporte.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'index_inventario' %}">Volver</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <h2>REPORTE DE INVENTARIO</h2>
        <button onclick="window.print()">IMPRIMIR</button>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Proveedor</th>
            <th>Código</th>
            <th>IVA</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.proveedor }}</td>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.iva }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>