<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermercado</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navegacion">
        <nav>
            <ul>
              <li><a href="Inventario/">Inventario</a></li>
              <li><a href="Ventas/">Ventas</a></a></li>
              <li><a href="Usuario/">Usuarios</a></li>
            </ul>
          </nav>
    </div>
    <div class="container">
        <img src="{% static 'img/supermarkets.png' %}" alt="">
        <h1>SUPERMERCADO</h1>
    </div>
</body>
</html>